*****************************************************
*   THE FOLLOWING SERVERS NOT RESPONDING            *
*****************************************************
{% for host in ansible_play_hosts %}
{% for item in hostvars[host].ping_result %}
{% if item.ping is undefined %}
{{ host }}
{% endif %}
{% endfor %}
{% endfor %}
************************** -END- *********************