*****************************************************
*       THE FOLLOWING SERVERS NOT RESPONDING        *
*****************************************************
{% for host in ansible_play_hosts %}
{% for item in hostvars[host].ping_result %}
{% if item.failed  %}
{{ host }}
{% endif %}
{% endfor %}
{% endfor %}
************************** -END- ********************