######################## - Disk Report - ########################
{% for host in group[all] %}

{{loop.index}} - {{ report.Host }} - {{ report.Usage}} - {{ Report.Status}}

######################## - Disk Report - ########################