######################## - Disk Report - ########################
{% for host in ansible_play_hosts %}
{% for item in hostvars[host].report_content %}
"{{loop.index}}" - "{{ item.Host }}" - "{{ item.Usage}}" 
{% endfor %}
{% endfor %}
######################## - Disk Report - ########################