Disk Information for {{ inventory_hostname }}:
Total Size: {{ disk_info.stdout_lines[0].TotalSize }} GB
Used Space: {{ disk_info.stdout_lines[0].Used }} GB
Free Space: {{ disk_info.stdout_lines[0].Free }} GB
Percent Free: {{ disk_info.stdout_lines[0].PercentFree }}%

Files over 250MB:
{% for file in large_files.stdout_lines %}
- Path: {{ file.FullName }}
  Size: {{ "{0:.2f}".format(file.SizeInMB / 1024) }} GB
{% endfor %}
