######################## - Disk Report - ########################
{% for host in ansible_play_hosts %}

"{{loop.index}}" - "{{ report_content[0].Host }}" - "{{ report_content[0].Usage}}" 

{% endfor %}

######################## - Disk Report - ########################