{% for host in ansible_play_hosts%}
Server_Name,Log_Name,Event_ID,Description
{% for item in hostvars[host].System_errors.output %}
{{ host}},System,{{ item.EventID }},{{ item.Message }}
{% endfor %}
{% for item in hostvars[host].app_errors.output %}
{{ host}},Application,{{ item.EventID }},{{ item.Message }}
{% endfor %}
#########################################
{% endfor %}