SERVER,LOG,EVENT_ID,DESCRIPTION
{% for host in ansible_play_hosts%}
{% for item in hostvars[host].System_errors.output %}
{{ host}},System,{{ item.EventID }},{{ item.Message }}
{% endfor %}
{% for item in hostvars[host].app_errors.output %}
{{ host}},Application,{{ item.EventID }},{{ item.Message }}
{% endfor %}

{% endfor %}